
</html><!DOCTYPE html>
<html>
<head>
<style>
body {background-color: rgb(7, 11, 52);}
h1   {color: rgb(189, 36, 36);
    position: absolute;
  top: 200px;
  left: 25%;
  font-size: 35px;
}
h2   {color: rgb(55, 174, 78);
    position: absolute;
  top: 250px;
  left: 25%;
  font-size: 35px;
}
p1 {
    color:brown;
    position: absolute;
    bottom: 10px;
    left: 45%;
    font-size: 20px;
}

</style>
</head>
<body>
<div >
<h1>Your itnachota Url is: </h1>
<h2><%= url %></h2>
    <p1> Hello Siddhu bhaiya!<p1>
<div>
</body>
</html>