
</html><!DOCTYPE html>
<html>
<head>
<style>
body {background-color: #33bbff;}
h1   {color:black;
    position: absolute;
  top: 200px;
  left: 25%;
  font-family: sans-serif;
  font-size: 80px;
}

</style>
</head>
<body>
<div id="error">
<h1>Error hai mere dost!</h1>
<div>
  <%- include('footer') %>
</body>
</html>