
</html><!DOCTYPE html>
<html>
<head>
<style>
body {background-color: black;}
h1   {color: rgb(22, 168, 241);
    position: absolute;
  top: 200px;
  left: 25%;
  font-size: 80px;
}

</style>
</head>
<body>
<div id="error">
<h1>Error hai mere dost!</h1>
<div>
</body>
</html>

</html><!DOCTYPE html>
<html>
  <head>
    <style>
      p1{
        color: antiquewhite;
        position: absolute;
        bottom: 5%;
        font-size: 20px;
        left: 40%;
      }
    </style>
    <head>
      <body>
        <p1>Created by Shashank Kumar with </p1>
      </body>
    </head>
  </head>

</html>