

</html><!DOCTYPE html>
<html>
  <head>
    <style>
      
      /* body{
        top: 90%;
        bottom: 7%;
        background-color: black;
      } */
      p1{
        font-family: monospace;
        width: 100%;
        color:black;
        position: absolute;
        bottom: 3.8%;
        font-size: 15px;
        left:0px ;
        text-align: center;
      }
      p2{
        font-family: monospace;
        width: 100%;
        color:black;
        
        position: absolute;
        bottom: 1%;
        font-size: 15px;
        left:0px ;
        text-align: center;
      }
    </style>
    <head>
      <head>
        <meta charset="UTF-8">
        </head>
      <body>
        <p1>Created by Shashank Kumar with turu &#128151</p1>
        <p2>Winter is Coming. So is your shortened Url!</p2>
      </body>
    </head>
  </head>

</html>