<form action="http://localhost:3000/api/link/create" method="POST">
    Send the url to be shrunk: <input type="text" name="link" /><br />
    <button type="submit">Send to backend baby!</button>
</form>
