<html>
    <style>
        body {
            background-color:white;
        }
        input {
            width: 70%;
            align-content: center
        }
        
    </style>
    <div >
    <form action="http://localhost:3000/api/link/create" method="POST">
        Send the url to be shrunk: <input type="text" name="link" placeholder="Enter the URL you want to shorten here" /><br />
        <button type="submit">Send to backend baby!</button>
        </div>
    </form>
    <body>
        <%- include('footer') %>
    </body>
</html>
